.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 7pt;
}

.backToHome {
    margin: 3rem 0 0;
}

.body {
    font-family: 'Oswald', Arial, -apple-system, serif;
}