.musicImage{
    height: 100%;
    width: 80vh;
    background-size: cover;
    background-image: url("/images/music.jpg");
    align-items: center;
    justify-content: center;
}

.audioPlayer {
    background-size: cover;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.audioDiv {
    background-color: inherit;
    align-content: center;
}